---
import { LOCALES, type Lang, useTranslations } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
import { getRelativeLocaleUrl } from "astro:i18n";

import { Image } from "astro:assets";
import heroImageEn from "@/assets/en/hero.svg";
import heroImageEs from "@/assets/es/hero.svg";

const locale = Astro.currentLocale as Lang;

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));
---

<Layout>
  <Image
    src={locale === "es"
            ? heroImageEs
            : heroImageEn}
    alt={t({
      en: "Hello",
      es: "Hola",
    })}
    loading="eager"
  />

  <p>
    <em>
      {
        t({
          en: "i18n Starter is a simple Astro theme for creating multilingual websites. It supports i18n feature from Astro v4.0.",
          es: "i18n Starter es un tema Astro simple para crear sitios web multilingües. Admite la función i18n de Astro v4.0.",
        })
      }
    </em>
  </p>

  <p>
    <a
      href={`https://docs.astro.build/${locale}/guides/internationalization/`}
      target="_blank"
    >
      Internationalization (i18n) Routing | Astro Docs
      <span class="material-icons-sharp dir">open_in_new</span>
    </a>
  </p>

  <p>
    {
      t({
        en: "Basically, only the subdirectory URL scheme is supported. It is managed by the URL as follows for each language. The root URL is redirected to the specified default language.",
        es: "Básicamente, solo se admite el esquema de URL de subdirectorio. Se administra mediante la URL de la siguiente manera para cada idioma. La URL raíz se redirige al idioma predeterminado especificado.",
      })
    }
  </p>

  <ul>
    <li>example.com/en/</li>
    <li>example.com/ja/</li>
  </ul>

  <h2>
    {
      t({
        en: "Feature",
        es: "Característica",
      })
    }
  </h2>

  <ul>
    <li>
      {
        t({
          en: "support for Astro's official i18n feature",
          es: "soporte para la función i18n oficial de Astro",
        })
      }
    </li>
    <li>
      {
        t({
          en: "Various management methods for multilingual pages",
          es: "Varios métodos de gestión para páginas multilingües",
        })
      }
    </li>
    <li>Vanilla CSS</li>
    <li>
      {
        t({
          en: "SEO friendly",
          es: "SEO amigable",
        })
      }
    </li>
    <li>
      {
        t({
          en: "100/100 Lighthouse performance",
          es: "100/100 Lighthouse rendimiento",
        })
      }
    </li>
  </ul>

  <h2>
    {
      t({
        en: "Getting Started",
        es: "Empezando",
      })
    }
  </h2>

  <p>
    {
      t({
        en: "Assumes basic knowledge of Astro.",
        es: "Supone conocimientos básicos de Astro.",
      })
    }
  </p>

  <p>
    <a href="https://docs.astro.build/" target="_blank">
      https://docs.astro.build/
      <span class="material-icons-sharp dir">open_in_new</span>
    </a>
  </p>

  <p>
    {
      t({
        en: "If you're okay, let's get started!",
        es: "Si estás bien, ¡empecemos!",
      })
    }
  </p>

  <p>
    <a href={getRelativeLocaleUrl(locale, "setup")} class="start">
      <span class="material-icons-sharp dir">arrow_forward</span>
      {
        t({
          en: "Start Setup",
          es: "Comenzar la configuración",
        })
      }
    </a>
  </p>
</Layout>

<style>
  ul {
    margin-block-start: var(--sp-s);
    list-style: disc;
    padding-inline-start: 1em;
  }

  h2 {
    color: var(--color-theme);
    margin-block-start: var(--sp-l);
  }

  em {
    display: block;
    font-style: normal;
    font-size: 1.3em;
    margin-block-end: var(--sp-m);
  }

  .start {
    display: block;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;
    background: var(--color-main);
    color: var(--color-base);
    text-decoration: none;
    letter-spacing: 0.05em;
  }
</style>
