---
import type { HTMLAttributes } from "astro/types";
import { SITE_TITLE } from "@/consts";
import { type Lang, useTranslatedPath, useTranslations } from "@/i18n";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"a"> {}
const { class: className, ...attrs } = Astro.props as Props;
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<a
	href={translatePath("/")}
	id="site-title"
	class={cn(
		"text-xl font-medium text-main-light dark:text-main-dark transition-colors",
		className
	)}
	{...attrs}
	aria-label={t("logo.description")}
>
	{SITE_TITLE}
</a>
